html{
    background: aliceblue;
    block-size: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    margin: auto;
}

header h3{
    margin: auto;
    text-align: center;
}

#canvasWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
}

#buttonsWrapper{
    margin: 1rem auto 0 auto;
}

#algorithmWrapper{
    margin: 1rem auto 0 auto;
    display: flex;
}

#myCanvas{
    border:1px solid #000000;
    background: white;
}

#infoSection{
    margin: 1rem auto 0 auto;
}

#gridsWrapper{
    margin: 1rem auto 0 auto;
    display: flex;
}


#gridsWrapper button{
    margin: 0 0.5rem;
}